@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

/* Force base styles to ensure the dark theme hits immediately */
@layer base {
  body {
    background-color: #020202 !important;
    color: white !important;
  }
}
