@import "tailwindcss";

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    background-color: #020202 !important;
    color: white !important;
    font-family: sans-serif;
  }
}

@theme {
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
}
